# Wikipedia Kaggle Data Peak

Read dataset given by Kaggle of Wikipedia articles.

In [3]:
import sqlite3
conn = sqlite3.connect('/home/mamerisawesome/Documents/wiki-kaggle-17_18.db')
crsr = conn.cursor()

Peak into the tables.

In [4]:
crsr.execute("SELECT name FROM sqlite_master WHERE type='table';")
crsr.fetchall()

crsr.execute("SELECT * FROM sqlite_master WHERE type='table';")
res = crsr.fetchall()[0][4].split('CREATE TABLE ARTICLES (')
res = ''.join(res).split(')')
res = ''.join(res)
columns = res.split(', ')

res = []
for col in columns:
    col_split = col.split(' ')
    res += [{ "column": col_split[0], "type": col_split[1] }]
res

[{'column': 'ARTICLE_ID', 'type': 'INTEGER'},
 {'column': 'TITLE', 'type': 'TEXT'},
 {'column': 'SECTION_TITLE', 'type': 'TEXT'},
 {'column': 'SECTION_TEXT', 'type': 'TEXT'}]

In [5]:
crsr.execute("SELECT ARTICLE_ID, TITLE FROM ARTICLES GROUP BY ARTICLE_ID")
titles = crsr.fetchall()

In [6]:
try:
    parsed_titles = [(datum[0], datum[1],) for datum in titles]
except KeyError:
    pass

In [7]:
{
    "length": len(parsed_titles),
    "peak": parsed_titles[:5]
}

{'length': 4902648,
 'peak': [(0, 'Anarchism'),
  (1, 'Autism'),
  (2, 'Albedo'),
  (3, 'A'),
  (4, 'Alabama')]}

In [9]:
import pandas as pd
df = pd.read_sql("SELECT "
                 "ARTICLE_ID, "
                 "REPLACE(GROUP_CONCAT(SECTION_TEXT, ' '), '\n', ' ') AS CONTENT "
                 "FROM ARTICLES "
                 "GROUP BY ARTICLE_ID LIMIT 10", conn)
df.shape

(10, 2)